/// Mixin genérico para responsive de una propiedad
/// $prop: nombre de la propiedad
/// $values: map con keys default, sm, md…
@mixin propiedadResponsiva($prop, $values) {
    & {
        #{$prop}: map-get($values, default);
    }

    @each $bp-name, $bp-value in $breakpoints {
        @if map-has-key($values, $bp-name) {
            @media (min-width: $bp-value) {
                & {
                    #{$prop}: map-get($values, $bp-name);
                }
            }
        }
    }
}

// Define propiedades comunes de títulos
%tituloMenuBase {
    font-family: "misti_fontregular", sans-serif;
    color: $blanco;
    letter-spacing: -.025em;
    @include propiedadResponsiva(line-height, $interlineadoTituloMenu);
    @include propiedadResponsiva(font-size, $tituloMenu);
}

%tituloBotonBase {
    font-family: "misti_fontregular", sans-serif;
    color: $blanco;
    letter-spacing: -.025em;
    @include propiedadResponsiva(line-height, $interlineadoTituloBoton);
    @include propiedadResponsiva(font-size, $tituloBoton);
}

%tituloBotonGrandeBase {
    font-family: "misti_fontregular", sans-serif;
    color: $blanco;
    letter-spacing: -.025em;
    @include propiedadResponsiva(line-height, $interlineadoTituloBotonGrande);
    @include propiedadResponsiva(font-size, $tituloBotonGrande);
}

%tituloGrandeBase {
    font-family: "misti_fontbold", sans-serif;
    color: $blanco;
    letter-spacing: -.025em;
    @include propiedadResponsiva(line-height, $interlineadoTituloGrande);
    @include propiedadResponsiva(font-size, $tituloGrande);
}

%tituloMedianoBase {
    font-family: "misti_fontbold", sans-serif;
    color: $blanco;
    letter-spacing: -.025em;
    @include propiedadResponsiva(line-height, $interlineadoTituloMediano);
    @include propiedadResponsiva(font-size, $tituloMediano);
}

%tituloPequenoBase {
    font-family: "misti_fontbold", sans-serif;
    color: $blanco;
    letter-spacing: -.025em;
    @include propiedadResponsiva(line-height, $interlineadoTituloPequeno);
    @include propiedadResponsiva(font-size, $tituloPequeno);
}

%subTituloBase {
    font-family: "misti_fontregular", sans-serif;
    color: $blanco;
    letter-spacing: -.025em;
    @include propiedadResponsiva(line-height, $interlineadoSubTitulo);
    @include propiedadResponsiva(font-size, $subTitulo);
}

%subTituloPequenoBase {
    font-family: "misti_fontregular", sans-serif;
    color: $blanco;
    letter-spacing: -.025em;
    @include propiedadResponsiva(line-height, $interlineadoSubTituloPequeno);
    @include propiedadResponsiva(font-size, $subTituloPequeno);
}

%descripcionBase {
    font-family: "misti_fontregular", sans-serif;
    color: $blanco;
    letter-spacing: -.025em;
    @include propiedadResponsiva(line-height, $interlineadoDescripcion);
    @include propiedadResponsiva(font-size, $descripcion);
}

%descripcionMedianoBase {
    font-family: "misti_fontregular", sans-serif;
    color: $blanco;
    letter-spacing: -.025em;
    @include propiedadResponsiva(line-height, $interlineadoDescripcionMediano);
    @include propiedadResponsiva(font-size, $descripcionMediano);
}

%descripcionPequenoBase {
    font-family: "misti_fontregular", sans-serif;
    color: $blanco;
    letter-spacing: -.025em;
    @include propiedadResponsiva(line-height, $interlineadoDescripcionPequeno);
    @include propiedadResponsiva(font-size, $descripcionPequeno);
}

%descripcionGrandeBase {
    font-family: "misti_fontregular", sans-serif;
    color: $blanco;
    letter-spacing: -.025em;
    @include propiedadResponsiva(line-height, $interlineadoDescripcionGrande);
    @include propiedadResponsiva(font-size, $descripcionGrande);
}