@font-face {
    font-family: 'misti_fontbold';
    src: url('https://qa.gloritazas.pe/fonts/misti/mistifont-bold-webfont.eot');
    src: url('https://qa.gloritazas.pe/fonts/misti/mistifont-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-bold-webfont.woff2') format('woff2'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-bold-webfont.woff') format('woff'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-bold-webfont.ttf') format('truetype'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-bold-webfont.svg#misti_fontbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'misti_fontbold_italic';
    src: url('https://qa.gloritazas.pe/fonts/misti/mistifont-bolditalic-webfont.eot');
    src: url('https://qa.gloritazas.pe/fonts/misti/mistifont-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-bolditalic-webfont.woff2') format('woff2'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-bolditalic-webfont.woff') format('woff'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-bolditalic-webfont.ttf') format('truetype'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-bolditalic-webfont.svg#misti_fontbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'misti_fontlight';
    src: url('https://qa.gloritazas.pe/fonts/misti/mistifont-light-webfont.eot');
    src: url('https://qa.gloritazas.pe/fonts/misti/mistifont-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-light-webfont.woff2') format('woff2'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-light-webfont.woff') format('woff'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-light-webfont.ttf') format('truetype'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-light-webfont.svg#misti_fontlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'misti_fontlight_italic';
    src: url('https://qa.gloritazas.pe/fonts/misti/mistifont-lightitalic-webfont.eot');
    src: url('https://qa.gloritazas.pe/fonts/misti/mistifont-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-lightitalic-webfont.woff2') format('woff2'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-lightitalic-webfont.woff') format('woff'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-lightitalic-webfont.ttf') format('truetype'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-lightitalic-webfont.svg#misti_fontlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'misti_fontmedium';
    src: url('https://qa.gloritazas.pe/fonts/misti/mistifont-medium-webfont.eot');
    src: url('https://qa.gloritazas.pe/fonts/misti/mistifont-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-medium-webfont.woff2') format('woff2'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-medium-webfont.woff') format('woff'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-medium-webfont.ttf') format('truetype'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-medium-webfont.svg#misti_fontmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

//ddd
@font-face {
    font-family: 'misti_fontregular';
    src: url('https://qa.gloritazas.pe/fonts/misti/mistifont-regular-webfont.eot');
    src: url('https://qa.gloritazas.pe/fonts/misti/mistifont-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-regular-webfont.woff2') format('woff2'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-regular-webfont.woff') format('woff'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-regular-webfont.ttf') format('truetype'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-regular-webfont.svg#misti_fontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'misti_fontregular_italic';
    src: url('https://qa.gloritazas.pe/fonts/misti/mistifont-regularitalic-webfont.eot');
    src: url('https://qa.gloritazas.pe/fonts/misti/mistifont-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-regularitalic-webfont.woff2') format('woff2'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-regularitalic-webfont.woff') format('woff'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-regularitalic-webfont.ttf') format('truetype'),
        url('https://qa.gloritazas.pe/fonts/misti/mistifont-regularitalic-webfont.svg#misti_fontregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Definicion de Colores
$azulOscuro: #252034;
$azulP : #1A172B;
$blanco: white;
$humo: #F6F6F6;
$rojo: #D50306;
$celeste: #8FD2EA;
$naranja: #FF5000;
$crema: #FAF3DF;
$grisClaro: #F4F4F4;

// Definimos los titulares con sus interlineados
$tituloMenu: (
    default: 1.75rem,
    sm: 1rem,
    md: 1rem,
    lg: 1rem,
);
$interlineadoTituloMenu: (
    default: 3rem,
    sm: 1.5rem,
    md: 1.5rem,
    lg: 1.5rem,
);

$tituloBoton: (
    default: .65rem,
    sm: .75rem,
    md: .75rem,
    lg: .85rem,
    xl: 1rem,
);

$interlineadoTituloBoton: (
    default: 1rem,
    sm: 1rem,
    md: 1rem,
    lg: 1rem,
);

$tituloBotonGrande: (
    default: .85rem,
    sm: 1rem,
    md: .95rem,
    lg: 1rem,
    xl: 1.5rem,
);

$interlineadoTituloBotonGrande: (
    default: 1.15rem,
    sm: 1.25rem,
    md: 1.2rem,
    lg: 1.5rem,
    xl: 2rem,
);

$tituloGrande: (
    default: 3.5rem,
    sm: 2rem,
    md: 2.5rem,
    lg: 3rem,
    xl: 4.5rem,
);

$interlineadoTituloGrande: (
    default: 3.5rem,
    sm: 2.5rem,
    md: 2.5rem,
    lg: 3.5rem,
    xl: 4.5rem,
);

$tituloMediano: (
    default: 2.5rem,
    sm: 2rem,
    md: 2.15rem,
    lg: 2.5rem,
    xl: 4rem,
);

$interlineadoTituloMediano: (
    default: 3rem,
    sm: 2.5rem,
    md: 2.5rem,
    lg: 3.5rem,
    xl: 4.5rem,
);

$tituloPequeno: (
    default: 1.85rem,
    sm: 2rem,
    md: 2rem,
    lg: 2.5rem,
    xl: 3.125rem,
);

$interlineadoTituloPequeno: (
    default: 1.75rem,
    sm: 2.5rem,
    md: 2.5rem,
    lg: 3.5rem,
    xl: 3.5rem,
);

$subTitulo: (
    default: 1.85rem,
    sm: 2rem,
    md: 1.5rem,
    lg: 1.7rem,
    xl: 2.5rem,
);

$interlineadoSubTitulo: (
    default: 2rem,
    sm: 2.5rem,
    md: 2.2rem,
    lg: 2.35rem,
    xl: 3rem,
);

$subTituloPequeno: (
    default: 1.25rem,
    sm: 1rem,
    md: 1.25rem,
    lg: 1.5rem,
    xl: 2rem,
);

$interlineadoSubTituloPequeno: (
    default: 1.75rem,
    sm: 1.5rem,
    md: 1.5rem,
    lg: 1.5rem,
    xl: 2rem,
);

$descripcion: (
    default: 0.75rem,
    sm: 0.75rem,
    md: 0.75rem,
    lg: 0.75rem,
    xl: 0.875rem,
);

$interlineadoDescripcion: (
    default: 1rem,
    sm: 1rem,
    md: 1rem,
    lg: 1rem,
    xl: 1.5rem,
);

$descripcionMediano: (
    default: 0.8rem,
    sm: 0.95rem,
    md: 0.95rem,
    lg: 1rem,
    xl: 1rem,
);

$interlineadoDescripcionMediano: (
    default: 1.5rem,
    sm: 1.5rem,
    md: 1.5rem,
    lg: 1.5rem,
    xl: 1.5rem,
);

$descripcionPequeno: (
    default: 0.75rem
);

$interlineadoDescripcionPequeno: (
    default: 1rem
);

$descripcionGrande: (
    default: 0.95rem,
    sm: 1rem,
    md: 1.15rem,
    lg: 1.25rem,
    xl: 1.5rem,
);

$interlineadoDescripcionGrande: (
    default: 1.5rem,
    sm: 1.5rem,
    md: 1.5rem,
    lg: 1.5rem,
    xl: 2rem,
);


// Puntos de quiebre
$breakpoints: (
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1600px,
);